{% set author = config.extra.name.first ~ " " ~ config.extra.name.last | striptags %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta charset="utf-8">
	<meta name="author" content="{{ author }}">
	<meta name="description" content="{{ author }}'s landing page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ get_url(path='favicon.svg') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css">
	<link rel="stylesheet" type="text/css" href="{{ get_url(path='style.css') }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
	<title>
		{% if lang == "fa" %}
			آرمین فاضلی
		{% else %}
			{{ author }}
		{% endif %}
	</title>
</head>
<body>
	<!-- Language Switcher -->
	<div id="lang-switcher">
		{% if lang == "en" %}
			<a href="{{ get_url(path='', lang='fa') }}" class="lang-btn" title="فارسی">فا</a>
		{% else %}
			<a href="{{ get_url(path='', lang='en') }}" class="lang-btn" title="English">EN</a>
		{% endif %}
	</div>

	{% block content %}{% endblock %}

	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script>
		particlesJS.load('particles', '{{ get_url(path="particles.json") | safe }}', null);
	</script>
</body>
</html>
